@charset 'utf-8';
body {overflow-x:hidden;  font-family: '微软雅黑';}
a.icon-play,a.icon-play:link,a.icon-play:visited { text-decoration:none;}
.icon-pause,
.icon-play { display: inline-block; width: 32px; height: 32px; background: url(../images/icon-music.png); background-size: 32px 32px; }
.rotate {
    -webkit-animation: rotating 1.2s linear infinite;
    -moz-animation: rotating 1.2s linear infinite;
    -o-animation: rotating 1.2s linear infinite;
    animation: rotating 1.2s linear infinite;
}

 
@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

@-moz-keyframes rotating {
    from {
        -moz-transform: rotate(0deg)
    }

    to {
        -moz-transform: rotate(360deg)
    }
}
 .play-box { 
    background: #f0f0f0;
    z-index:9px;
    border-radius: 5px;
	width: 32px; height: 32px; float:left;
}
div.mymusic { border-top: 1px #cccccc solid;border-bottom: 1px #cccccc solid; padding:10px; height:32px; background:#efefef; }
div.mymusic div.text { float:left; padding-left:10px; line-height:32px; height:32px; }
div.content { clear:both; line-height:30px; font-size:14px;margin-top:15px;}